# PyMongo

In [1]:
import pymongo

## Connection

In [2]:
url = "mongodb://localhost:27017"
client = pymongo.MongoClient(url)
db = client["college"]
collection = db["studlist"]

## Questions

#### 1. Name and Mark of all Female students in MCA

In [13]:
for student in collection.find({"gender": "female", "course": "MCA"}):
    print(f"Name: {student['name']['fname']} {student['name']['lname']}, Marks: {student['mark']}")

Name: Athira Krishnan, Marks: 80
Name: Divya Vijayan, Marks: 70
Name: Renuka Vijayan, Marks: 82
Name: Remya V, Marks: 85
Name: Remya Sugunan, Marks: 72
Name: Vidhya Sugunan, Marks: 79
Name: Soorya S, Marks: 79
Name: Amritha S, Marks: 99
Name: Soorya P, Marks: 74

In [19]:
def print_details(student):
    """Function to print all details of a student"""
    print(f"""
Name: {student['name']['fname']} {student['name']['lname']}
Address: {student['address']['house_name']}, {student['address']['city']}, Gender: {student['gender']}
Course: {student['course']}, Mark: {student['mark']}, Grade: {student['grade']}
Phone: {student['phone']['no']} ({student['phone']['type']})
""")

#### 2. Student who scored the highest mark in MCA

In [20]:
topper = collection.find({"course": "MCA"}).sort("mark", -1).limit(1)
print_details(topper[0])

Name: Amritha S
Address: Arya Bhavan, Varkala, Gender: female
Course: MCA, Mark: 99, Grade: A+
Phone: 9445365787 (mobile)

#### 3. All male students who secured A+

In [21]:
for student in collection.find({"gender": "male", "grade": "A+"}):
    print_details(student)

Name: Vimal Vinayan
Address: Vimala Bhavan, Kollam, Gender: male
Course: Mechanical, Mark: 90, Grade: A+
Phone: 8185399780 (mobile)


Name: Vimal Bose
Address: Vimalam, Ernakulam, Gender: male
Course: MCA, Mark: 90, Grade: A+
Phone: 9485399780 (mobile)


Name: Arun S
Address: Arun Bhavan, Attingal, Gender: male
Course: MCA, Mark: 91, Grade: A+
Phone: 9445366987 (mobile)

#### 4. Top 3 Students in Mechanical Department

In [22]:
mech_toppers = collection.find({"course": "Mechanical"}).sort("mark", -1).limit(3)
for student in mech_toppers:
    print_details(student)

Name: Kavya Mohan
Address: Kavyanjali, Kollam, Gender: female
Course: Mechanical, Mark: 95, Grade: A+
Phone: 9448399780 (mobile)


Name: Vimal Vinayan
Address: Vimala Bhavan, Kollam, Gender: male
Course: Mechanical, Mark: 90, Grade: A+
Phone: 8185399780 (mobile)


Name: Yadu Kannan
Address: Sreenilayam, Kollam, Gender: male
Course: Mechanical, Mark: 85, Grade: A
Phone: 9446321780 (mobile)

#### 5. Female Students who have secured more than 90

In [24]:
for student in collection.find({"gender": "female", "mark": {"$gt": 90}}):
    print(f"""
Name: {student['name']['fname']} {student['name']['lname']}
Grade: {student['grade']}, Mark: {student['mark']}
Contact: {student['phone']['no']} ({student['phone']['type']})
""")

Name: Kavya Mohan
Grade: A+, Mark: 95
Contact: 9448399780 (mobile)


Name: Amritha S
Grade: A+, Mark: 99
Contact: 9445365787 (mobile)

#### 6. Students who scored marks in between 80 and 90

In [25]:
for student in collection.find({"mark": {"$gt": 80, "$lt": 90}}):
    print_details(student)

Name: Vidhya S
Address: MRS House, Kadakkavoor, Gender: female
Course: Civil, Mark: 85, Grade: A
Phone: 8146321420 (mobile)


Name: Yadu Kannan
Address: Sreenilayam, Kollam, Gender: male
Course: Mechanical, Mark: 85, Grade: A
Phone: 9446321780 (mobile)


Name: Renuka Vijayan
Address: Sreevilasam, Thiruvananthapuram, Gender: female
Course: MCA, Mark: 82, Grade: A
Phone: 04712547890 (land)


Name: Remya V
Address: Sree, Thiruvananthapuram, Gender: female
Course: MCA, Mark: 85, Grade: A
Phone: 04712647890 (land)

#### 7. Students whose name starts with 'V'

In [26]:
for student in collection.find({"name.fname": {"$regex": "^V"}}):
    print_details(student)

Name: Varun Nair
Address: Koustubham, Thiruvananthapuram, Gender: male
Course: MCA, Mark: 70, Grade: B+
Phone: 04712662690 (land)


Name: Vidhya S
Address: MRS House, Kadakkavoor, Gender: female
Course: Civil, Mark: 85, Grade: A
Phone: 8146321420 (mobile)


Name: Vivek Bose
Address: Kallu, Ernakulam, Gender: male
Course: MCA, Mark: 60, Grade: B
Phone: 04842663890 (land)


Name: Vimal Vinayan
Address: Vimala Bhavan, Kollam, Gender: male
Course: Mechanical, Mark: 90, Grade: A+
Phone: 8185399780 (mobile)


Name: Vimal Bose
Address: Vimalam, Ernakulam, Gender: male
Course: MCA, Mark: 90, Grade: A+
Phone: 9485399780 (mobile)


Name: Vinod Paniker
Address: Deepam, Ernakulam, Gender: male
Course: MCA, Mark: 70, Grade: B
Phone: 9445399787 (mobile)


Name: Vidhya Sugunan
Address: vidhya vilasam, Thiruvananthapuram, Gender: female
Course: MCA, Mark: 79, Grade: B+
Phone: 04712647790 (land)

#### 8. All students from Kollam

In [27]:
for student in collection.find({"address.city": "Kollam"}):
    print_details(student)

Name: Athira Krishnan
Address: Ambadi, Kollam, Gender: female
Course: MCA, Mark: 80, Grade: A
Phone: 9896321450 (mobile)


Name: Yadu Kannan
Address: Sreenilayam, Kollam, Gender: male
Course: Mechanical, Mark: 85, Grade: A
Phone: 9446321780 (mobile)


Name: Kavya Mohan
Address: Kavyanjali, Kollam, Gender: female
Course: Mechanical, Mark: 95, Grade: A+
Phone: 9448399780 (mobile)


Name: Vimal Vinayan
Address: Vimala Bhavan, Kollam, Gender: male
Course: Mechanical, Mark: 90, Grade: A+
Phone: 8185399780 (mobile)


Name: Jabin S
Address: Deepam, Kollam, Gender: male
Course: Civil, Mark: 70, Grade: B
Phone: 9485399787 (mobile)


Name: Arya Satheesh
Address: Arya Bhavan, Kollam, Gender: female
Course: Civil, Mark: 90, Grade: A+
Phone: 9445399787 (mobile)

#### 9. Students who does not belong to neither Kollam nor Thiruvananthapuram

In [28]:
not_kollam_nor_tvm = collection.find({"address.city":  {"$nin": ["Thiruvananthapuram", "Kollam"]}})
for student in not_kollam_nor_tvm:
    print_details(student)

Name: Arya S
Address: M.B.S.Bhavan, Varkala, Gender: female
Course: Computer Science, Mark: 90, Grade: A+
Phone: 9446321420 (mobile)


Name: Vidhya S
Address: MRS House, Kadakkavoor, Gender: female
Course: Civil, Mark: 85, Grade: A
Phone: 8146321420 (mobile)


Name: Vivek Bose
Address: Kallu, Ernakulam, Gender: male
Course: MCA, Mark: 60, Grade: B
Phone: 04842663890 (land)


Name: Divya Vijayan
Address: Divyalayam, Varkala, Gender: female
Course: MCA, Mark: 70, Grade: B+
Phone: 04702667890 (land)


Name: Vimal Bose
Address: Vimalam, Ernakulam, Gender: male
Course: MCA, Mark: 90, Grade: A+
Phone: 9485399780 (mobile)


Name: Vinod Paniker
Address: Deepam, Ernakulam, Gender: male
Course: MCA, Mark: 70, Grade: B
Phone: 9445399787 (mobile)


Name: Amritha S
Address: Arya Bhavan, Varkala, Gender: female
Course: MCA, Mark: 99, Grade: A+
Phone: 9445365787 (mobile)


Name: Arun S
Address: Arun Bhavan, Attingal, Gender: male
Course: MCA, Mark: 91, Grade: A+
Phone: 9445366987 (mobile)


Name: Abhilash S
Address: Dhanya Bhavan, Attingal, Gender: male
Course: Mechanical, Mark: 75, Grade: B+
Phone: 8182366987 (mobile)


Name: Sree Raj
Address: Sree, Varkala, Gender: male
Course: Civil, Mark: 74, Grade: B+
Phone: 04702721890 (land)

#### 10. Female students who belong to either Kollam or Thiruvananthapuram

In [29]:
kollam_or_tvm = collection.find({"gender": "female", "$or": [{"address.city": "Thiruvananthapuram"}, {"address.city": "Kollam"}]})
for student in kollam_or_tvm:
    print_details(student)

Name: Athira Krishnan
Address: Ambadi, Kollam, Gender: female
Course: MCA, Mark: 80, Grade: A
Phone: 9896321450 (mobile)


Name: Kavya Mohan
Address: Kavyanjali, Kollam, Gender: female
Course: Mechanical, Mark: 95, Grade: A+
Phone: 9448399780 (mobile)


Name: Renuka Vijayan
Address: Sreevilasam, Thiruvananthapuram, Gender: female
Course: MCA, Mark: 82, Grade: A
Phone: 04712547890 (land)


Name: Remya V
Address: Sree, Thiruvananthapuram, Gender: female
Course: MCA, Mark: 85, Grade: A
Phone: 04712647890 (land)


Name: Remya Sugunan
Address: Remya vilasam, Thiruvananthapuram, Gender: female
Course: MCA, Mark: 72, Grade: B+
Phone: 04712648890 (land)


Name: Vidhya Sugunan
Address: vidhya vilasam, Thiruvananthapuram, Gender: female
Course: MCA, Mark: 79, Grade: B+
Phone: 04712647790 (land)


Name: Arya Satheesh
Address: Arya Bhavan, Kollam, Gender: female
Course: Civil, Mark: 90, Grade: A+
Phone: 9445399787 (mobile)


Name: Soorya S
Address: Meena Bhavan, Thiruvananthapuram, Gender: female
Course: MCA, Mark: 79, Grade: B+
Phone: 04712647890 (land)


Name: Soorya P
Address: Soorya Bhavan, Thiruvananthapuram, Gender: female
Course: MCA, Mark: 74, Grade: B+
Phone: 04712641890 (land)

## Insertion

In [32]:
student = {'_id': 26, 'name': {'fname': 'John', 'lname': 'Doe'}, 'address': {'house_name': 'BS34X', 'city': 'Atlantis'}, 'gender': 'male', 'course': 'MCA', 'mark': 80, 'grade': 'A', 'phone': {'type': 'mobile', 'no': 8888888888}}
collection.insert_one(student)

print_details(collection.find_one({"_id": 26}))

Name: John Doe
Address: BS34X, Atlantis, Gender: male
Course: MCA, Mark: 80, Grade: A
Phone: 8888888888 (mobile)

## Updation

In [33]:
query = {"_id": 26}
newval = {"$set": {"name.fname": "Don", "name.lname": "Joe"}}
collection.update_one(query, newval)

print_details(collection.find_one({"_id": 26}))

Name: Don Joe
Address: BS34X, Atlantis, Gender: male
Course: MCA, Mark: 80, Grade: A
Phone: 8888888888 (mobile)

## Deletion

In [34]:
query = {"_id": 26}
collection.delete_one(query)

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)